
<head>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>
<div class="container border p-4">

  <%= form_with scope: :patients, url: patients_path, local: true do |form| %>
  <div class="form-row">
  <div class="col-3"></div>
  <div class="col-6">
    <%= form.label :name %><br>
    <%= form.text_field :name, :class => "form-control" %>
  </div>
  <div class="col-3"></div>

  </div>
  <div class="form-row">
  <div class="col-3"></div>
  <div class="col-6">
     <%= form.label :phone %><br>
    <%= form.text_field :phone , :class => "form-control"%>
  </div>
  <div class="col-3"></div>

  </div>
  <div class="form-row">
  <div class="col-3"></div>
  <div class="col-6">
     <%= form.label :email %><br>
    <%= form.text_field :email, :class => "form-control" %>
  </div>
  <div class="col-3"></div>

  </div>
  <div class="form-row">
  <div class="col-3"></div>
  <div class="col-6">
     <%= form.label :diagnosis %><br>
    <%= form.text_field :diagnosis, :class => "form-control" %>
  </div>
  <div class="col-3"></div>

  </div>
  <div class="form-row">
  <div class="col-3"></div>
  <div class="col-6">
     <%= form.label :Medications %> <br>
<%= form.select :medication_ids, Medication.all.collect {|x| [x.name, x.id]}, {class: "form-control selectpicker" }, :multiple => true%>

<div class="">
  <%= form.submit "Add Patient", :class => 'btn btn-block btn-success mt-4' %>
</div>

  </div>
  <div class="col-3"></div>
  
  </div>

  <p>
    <%= form.hidden_field :user_id, :value => @user %>
  </p>
<br>
<br>
<br>
<br>





<% end %>


   
 <script>
    $('select').selectpicker({
      maxOptions: 10
    });
    </script>
