<div class="container text-center mt-5">
    <h1 class="border-bottom">Details</h1>
<h2> Name: <%= @patient.name %> </h2>
    
 <p> Phone: <%= @patient.phone %></p> 
 <p> Email: <%= @patient.email %></p>
 <p>Diagnosis: <%= @patient.diagnosis %></p> 
Medication: 
 <ul class="list-group ">
 <% @medication.each do |med|%>
           <li class="list-group-item list-group-item-primary"> <%= med.name %></li>
 <% end %>
 </ul>

 <%= link_to 'Back to Calendar', '/appointments' %>
</div>


